<tr id="{{id}}">
  <td>{{name}}</td>
  <td>{{reps}}</td>
  <td>{{weight}}</td>
  {{#if lbs}}
    <td>lbs</td>
  {{else}}
    <td>kgs</td>
  {{/if}}
  <td data-rawdate="{{date}}">{{date}}</td>
  <td>
    <button onclick="updateEntry({{id}})" type="button">UPDATE</button>
  </td>
  <td>
    <button
      class="delete_button red"
      onclick="deleteEntry({{id}})"
      type="button"
    >X</button>
  </td>
</tr>